:root {
  --primario: #f6bd60;
  --secundario: #f28482;
  --terciario: #84a59d;
  --adicional: #f5cac3;
  --claro: #f7ede2;
  --oscuro: #001219;
  --blanco: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Epilogue", sans-serif;
  background-image: linear-gradient(
    to top,
    var(--adicional) 0%,
    var(--blanco) 100%
  );
}

.shadow-w-box {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(48, 47, 51, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(48, 47, 51, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(48, 47, 51, 0.54);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.title-main span {
  font-size: 2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.btn {
  background-color: var(--secundario);
  color: var(--claro);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.nav-bg {
  background-color: var(--secundario);
}

.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav a {
  display: block;
  text-align: center;
  color: var(--claro);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
}

.main-nav a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

.hero {
  background-image: url(../hero.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* llena el tamaño disponible */
  height: 45rem;
  position: relative;
  margin-bottom: 2rem;
}

.container-hero {
  position: absolute;
  background-color: rgba(25, 24, 24, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-hero h2,
.container-hero p {
  color: var(--claro);
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h3 {
    color: var(--secundario);
    font-weight: normal;
}

.service .icons {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service p {
    line-height: 2;
    text-align: center;
}

.form1 {
    background-color: var(--terciario);
    width: min(60rem, 100%); /* toma el valor minimo */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.form1 fieldset {
    border: none;
}

.form1 legend {
    color: var(--oscuro);
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.field-form {
  margin-bottom: 1rem;
}

.field-form label {
  color: var(--claro);
  font-weight: bold;
  margin-bottom: .5rem;
  display: block;
}

.field-form textarea {
  height: 10rem;
}

.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 1rem;
}

.w-100 {
  width: 100%;
}

.footer {
  text-align: center;
  margin: 1rem;
}

/*
.main-nav,
.services,
.form1 {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
*/

@media (min-width: 480px) {
  /* Celphone */
}

@media (min-width: 768px) {
  /* Tablet */
  .main-nav {
      flex-direction: row;
      justify-content: space-around;
  }
  
  .btn {
      width: auto;
  }
  
  .services {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* una fraccion */
      /* version mas corta
      grid: fila / columnas 
      */
      column-gap: 2rem;
  }

  .send-btn {
    display: flex;
    justify-content: end;
  }

  
.container-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 20rem;
  column-gap: 1rem;
}

.field-form:nth-child(3),
.field-form:nth-child(4) {
  grid-column: 1/3; /* para posicionar un elemento grid*/
}


}

@media (min-width: 1140px) {
/* Laptop */
}

@media (min-width: 1400px) {
/* Screen */
}